/* navigation bar color: 0d2331 */ 
/* dark blue primary bg color: 112B3C */ 
/* blue secondry bg color: 205375 */ 
/* orange color: F66B0E */ 

:root {
	--section-color: #112B3C;
	--numbers-color: #205375;
	--bg-color: #1A3C40;
}


.stProgress > div > div > div > div {
            background-image: linear-gradient(to right, #FFFFFF , #EDE6DB);
}

#choose-skills-not-identity > div > span 
{
	background-color: #112B3C;
}

#skivia-helps-you-measure-your-candidates-skills > div > span 
{
	background-color: #112B3C;
}